{% extends "layout.html" %}
{% block content %}
    {% if g.user %}
        <h2>
            Artists
        </h2>
        {% if artists %}
            <ul>
                {% for artist in artists %}
                    <li>
                        <a href="/artist/{{ artist[1] }}/">{{ artist[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                You've got no artists in your database. Sorry.
            </p>
        {% endif %}
    {% else %}
        <div class="pull-left">
            <div class="login">
                <div class="login-form">
                    <h2>Login</h2>
                    <form action="{{ url_for('login') }}" method="POST">
                        <fieldset>
                            <div class="clearfix">
                                <input type="text" placeholder="E-mail">
                            </div>
                            <div class="clearfix">
                                <input type="password" placeholder="Password">
                            </div>
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a href="{{ url_for('recover') }}">Forgot your password?</a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="login">
                <div class="login-form">
                    <p>
                        Don't have an account?
                    </p>
                    <h2>Sign up</h2>
                    <form action="{{ url_for('login') }}" method="POST">
                        <fieldset>
                            <div class="clearfix">
                                <input type="text" name="email" placeholder="E-mail">
                            </div>
                            <button class="btn btn-primary" type="submit">Register</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="login pull-left">
            <div class="login-form">
                <h2>
                    Login using
                </h2>
                <form action="{{ url_for('login') }}" method="POST">
                    {% if error %}
                        <p class="error well well-small">
                            {{ error }}
                        </p>
                    {% endif %}
                    {% if user %}{{ user }}{% endif %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <fieldset>
                        <div class="clearfix">
                            <button class="btn openidbtn" type="submit" name="loginusing" value="google">
                                <img src="{{ url_for('static', filename='img/google.ico') }}"> Google
                            </button>
                            <button class="btn openidbtn" type="submit" name="loginusing" value="twitter">
                                <img src="{{ url_for('static', filename='img/twitter.ico') }}"> Twitter
                            </button>
                            <button class="btn openidbtn" type="submit" name="loginusing" value="facebook">
                                <img src="{{ url_for('static', filename='img/facebook.ico') }}"> Facebook
                            </button>
                        </div>
                        <!--
                        <div class="clearfix">
                            <button class="btn openidbtn" type="submit" name="loginusing" value="yahoo">
                                <img src="{{ url_for('static', filename='img/yahoo.ico') }}"> Yahoo!
                            </button>
                            <button class="btn openidbtn" type="submit" name="loginusing" value="flickr">
                                <img src="{{ url_for('static', filename='img/flickr.ico') }}"> Flickr
                            </button>
                            <button class="btn openidbtn" type="submit" name="loginusing" value="wordpress">
                                <img src="{{ url_for('static', filename='img/wordpress.ico') }}"> Wordpress
                            </button>
                        </div>
                        <div class="clearfix">
                            <button class="btn openidbtn" type="submit" name="loginusing" value="blogger">
                                <img src="{{ url_for('static', filename='img/blogger.ico') }}"> Blogger
                            </button>
                            <button class="btn openidbtn" type="submit" name="loginusing" value="openid">
                                <img src="{{ url_for('static', filename='img/openid.ico') }}"> OpenID
                            </button>
                            <button class="btn openidbtn" type="submit" name="loginusing" value="myopenid">
                                <img src="{{ url_for('static', filename='img/myopenid.ico') }}"> MyOpenID
                            </button>
                        </div>
                        -->
                        <hr>
                        <h2>
                            Or enter the OpenID URI
                        </h2>
                        <div class="clearfix openiduri">
                            <input type="text" placeholder="OpenID URI">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
