form { display: inline; }
.openidbtn { width: 114px; margin: 0 12px 12px 0; }
.openiduri { margin-top: 12px; }
.modal-footer ul li { display: inline; margin: 0 12px; }
.error { background-color: rgba(255, 0, 0, 0.3); }
.userbar { color: white; line-height: 40px; }
